<div class="container">
    <div class="row heading">
      <div class="col-md-10">Angular Forms</div>
    </div>
    <div>
      <div class="row">
        <div class="col-md-12">
          <div class="nav-item" (click)="goToTemplateDriven()"> <i>
            Template Driven Forms:
         </i>
         
        <!-- Commented by GARIMA <p>
          Logic in Template , suitable for small or simple forms.
        </p></div> -->
        </div>
        <div class="col-md-12">
          <div class="nav-item" (click)="goToModelDriven()"><i>
            Model Driven Forms(Reactive Form):
          </i>
        <!-- <p>
         Logic in Component as an  object , robust scalable and testable , suitable for complex form
        </p></div> -->
        </div>
      </div>
    </div>
  </div>
  